<h1>OrderLists#index</h1>
<p>Need to have a huge list of all items that need to be
purchased</p>

<%= link_to products_index_path do %>
<div class='ui button mini'><%= semantic_icon('archive') %> <p class='whisper'>All Items</p>
</div>
<% end %>


<div class='ui segment'>
empty order list
</div>