<h1>Orders#index</h1>
<<<<<<< HEAD
=======
<div class='ui button mini allItems'>
  All Items
</div>
<div class='ui segment allOrders'>

 <% @orders.each do |order| %>
  <%= order.id %>
 <% end %>
</div>
>>>>>>> d4461b4bb8396f5e7237935c86b413f36d1e7d88
