<div class='body_container'>
  <div class='fotorama'>
    <img src="http://s.fotorama.io/1.jpg">
    <img src="http://static3.businessinsider.com/image/52cddfb169beddee2a6c2246/the-29-coolest-us-air-force-images-of-the-year.jpg">
  </div>
</div>