<div class='ui segment thin'>
	<div class='ui button'>
	<% if !current_user %>
	<%= link_to new_user_session_path do %>
	<%= semantic_icon('key') %> Login
	<% end %>
	<% else %>
	<%= link_to "Continue", products_index_path %>
	<% end %>
	</div>
</div>