@import "semantic-ui";

.initial_header {
  width:100%;
  color:#D0D9D2;
  background-color:#000000;
  padding: 0.2em;
  float:left;
}

.secondary_header {
  height:100%;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  color:black;
  background-color: #F5EB7F;
  float:left;
}

.logo {
  float:left;
}

.item {
  font-size: 1.2em;
  padding-top: 0.5em;
  display:inline-block;
  text-align: center;
}

.smedia {
  float:right;
}