// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shout {
	text-align: center;
	font-size: 1.5em;
}

.whisper {
	font-size: 0.5em;
	padding-top: 0.4em;
}
