<br><br>
<div class='ui segment'>
<% @products.each do |product| %>
	<div class='product'><%= product.name %></div><br>
<% end %>
</div>

<script>
$document.ready(function(){
	$('.product').on('click', function(){
		
	});
});
</script>