<p class='shout'>The Order List</p>
<div class='ui button mini'>
<%= link_to products_index_path do %>
<%= semantic_icon('external url') %><p class='whisper'> Add Item to List</p>
<% end %>
</div>
<table class='ui table segment'>
<thead>
	<tr>
		<th>Name</th>
		<th>Status</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>test</td>
	</tr>
</tbody>
</table>
	
</div>