<h1>Locations#index</h1>
<%= link_to locations_new_path do %>
<div class='ui mini button'>
	Add new location
</div>
<% end %>
<div class='ui segment'>
<% @locations.each do |location| %>
	<div class='location' id='<%= location.id %>'><%= location.address %></div><br>
<% end %>
</div>